#swap-container {
  padding: 68px 8px 0px;
  max-width: 480px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  z-index: -1;
  padding: 12px 8px 8px;
}
#swap-header {
  align-items: center;
  margin-bottom: 8px;
  margin-left: 12px;
}

.price-container {
  border: 1px solid rgba(34, 34, 34, 0.07);
  border-radius: 16px;
  padding: 12px 16px;
  margin: 5px;
  box-sizing: border-box;
}